@page "/resources"
@inject ScenarioPack Scenario
@inject IStringLocalizer<Ui> L

<PageTitle>@L["Nav.Resources"] | @L["App.Name"]</PageTitle>

<h2>@L["Resources.Title"]</h2>
<p class="muted">@L["Resources.Subtitle"]</p>

<TelerikGrid Data="@Scenario.Resources"
             Sortable="true"
             Groupable="true"
             FilterMode="@GridFilterMode.FilterMenu"
             Pageable="true"
             PageSize="10">
    <GridToolBar>
        <GridToolBarSearchBoxTool />
    </GridToolBar>
    <GridColumns>
        <GridColumn Field="@nameof(ResourceRow.ResourceType)" Title="@(L["Col.ResourceType"])" Width="170px" />
        <GridColumn Field="@nameof(ResourceRow.Title)" Title="@(L["Col.Title"])" />
        <GridColumn Field="@nameof(ResourceRow.ClientProject)" Title="@(L["Col.ClientProject"])" />
        <GridColumn Field="@nameof(ResourceRow.MarketSegment)" Title="@(L["Col.MarketSegment"])" Width="180px" />
        <GridColumn Field="@nameof(ResourceRow.Status)" Title="@(L["Col.Status"])" Width="120px" />
        <GridColumn Field="@nameof(ResourceRow.Owner)" Title="@(L["Col.Owner"])" Width="140px" />
        <GridColumn Field="@nameof(ResourceRow.LastUpdated)" Title="@(L["Col.LastUpdated"])" Width="140px" DisplayFormat="{0:yyyy-MM-dd}" />
        <GridColumn Field="@nameof(ResourceRow.ReviewState)" Title="@(L["Col.ReviewState"])" Width="140px">
            <Template>
                @L.State(((ResourceRow)context).ReviewState)
            </Template>
        </GridColumn>
    </GridColumns>
</TelerikGrid>
