<div id="header">
    <div class="k-d-flex k-align-items-center k-justify-content-between">
        <a href="https://www.telerik.com/blazor-ui?utm_source=cli&utm_medium=project_template&utm_campaign=blazor" target="_blank" title="Go to Telerik UI for Blazor product page"><img src="telerik-ui-for-blazor.svg" alt="Progress Telerik UI for Blazor" /></a>

        <div style="visibility: hidden;">
            @* Future Enhancements *@
            <TelerikButton Icon="@SvgIcon.Palette"
                           FillMode="@ThemeConstants.Button.FillMode.Flat"
                           Rounded="@ThemeConstants.Button.Rounded.Full"
                           Title="Toggle Theme" />
            <TelerikButton Icon="@SvgIcon.Globe"
                           FillMode="@ThemeConstants.Button.FillMode.Flat"
                           Rounded="@ThemeConstants.Button.Rounded.Full"
                           Title="Select Culture" />
        </div>
    </div>
</div>

<div id="content" class="k-font-size-lg">
    <h1 class="k-text-center">Hello, Telerik UI for <span class="gradient-text">Blazor</span> Project!</h1>

    <p class="k-text-center" id="congrats">Congratulations! Your app is running.</p>

    <div id="agentic" class="k-d-flex k-align-items-center k-justify-content-between">
        <div>
            <h2>Agentic UI Generator</h2>
            <p>Turn prompts into pages. Boost your productivity with the Agentic UI Generator.</p>
        </div>

        <a href="https://www.telerik.com/blazor-ui/documentation/ai/agentic-ui-generator/prompt-library?utm_source=cli&utm_medium=project_template&utm_campaign=ai_tools_prompt_library" target="_blank" class="k-d-inline-flex k-align-items-center k-justify-content-between">
            <span>Try Now</span>
            <TelerikSvgIcon Icon="@SvgIcon.ChevronRight" Size="@ThemeConstants.SvgIcon.Size.Large" />
        </a>
    </div>

    <div class="k-d-flex k-gap-xl">
        <div class="k-flex-auto">
            <h2>AI Tools</h2>

            <ul class="resources k-list-none k-m-0 k-p-0">
                <li><a href="https://www.telerik.com/blazor-ui/documentation/ai/overview?utm_source=cli&utm_medium=project_template&utm_campaign=ai_tools_overview" target="_blank">
                    <span>AI Tools Overview</span> <TelerikSvgIcon Icon="@SvgIcon.ChevronRight" />
                </a></li>
                <li><a href="https://www.telerik.com/blazor-ui/documentation/ai/agentic-ui-generator/getting-started?utm_source=cli&utm_medium=project_template&utm_campaign=ai_tools_banner" target="_blank">
                    <span>AI Tools Getting Started</span> <TelerikSvgIcon Icon="@SvgIcon.ChevronRight" />
                </a></li>
                <li><a href="https://www.telerik.com/blazor-ui/documentation/ai/agentic-ui-generator/prompt-library?utm_source=cli&utm_medium=project_template&utm_campaign=ai_tools_prompt_library" target="_blank">
                    <span>AI Tools Prompt Library</span> <TelerikSvgIcon Icon="@SvgIcon.ChevronRight" />
                </a></li>
                <li><a href="https://www.telerik.com/blazor-ui/documentation/aicomponents?utm_source=cli&utm_medium=project_template&utm_campaign=ai_components_hub" target="_blank">
                    <span>AI Components and Features</span> <TelerikSvgIcon Icon="@SvgIcon.ChevronRight" />
                </a></li>
            </ul>
        </div>
        <div class="k-flex-auto">
            <h2>Components</h2>

            <ul class="resources k-list-none">
                <li><a href="https://www.telerik.com/design-system/docs/?utm_source=cli&utm_medium=project_template&utm_campaign=blazor_design_system" target="_blank">
                    <span>Explore Demos</span> <TelerikSvgIcon Icon="@SvgIcon.ChevronRight" />
                </a></li>
                <li><a href="https://www.telerik.com/design-system/docs/?utm_source=cli&utm_medium=project_template&utm_campaign=blazor_design_system" target="_blank">
                    <span>Design System Kit Documentation</span> <TelerikSvgIcon Icon="@SvgIcon.ChevronRight" />
                </a></li>
            </ul>
        </div>
    </div>
</div>

<style>
    #header > div,
    #content {
        max-width: 1030px;
        margin: 0 auto;
    }

    #header {
        border-bottom: 1px solid #e0e5e8;
    }

    #header > div {
        padding: 13px 0;
    }

    h1 {
        margin: 88px 0 16px;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        color: var(--kendo-color-on-light);
    }

    .gradient-text {
        color: transparent;
        background: linear-gradient(90deg, #512bd4, #d600aa);
        background-clip: text;
    }

    #congrats {
        margin: 16px 0 88px;
        font-size: 24px;
        color: #5A6E88;
    }

    h2 {
        margin: 32px 0 16px;
        font-size: 20px;
        line-height: 1.6;
        font-weight: 500;
    }

    #agentic {
        gap: 24px;
        border: 2px solid transparent;
        border-radius: 11px;
        padding: 24px 36px 24px 24px;
        background: linear-gradient(var(--kendo-color-app-surface), var(--kendo-color-app-surface)) padding-box, linear-gradient(114deg, #4b5ffa 0%, #c158e4 93%) border-box;
        font-size: 18px;
    }

        #agentic h2 {
            margin: 0 0 .3em;
            font-size: 24px;
            line-height: 1.5;
            font-weight: 700;
        }

        #agentic p {
            margin: 0;
        }

        #agentic a {
            gap: 12px;
            border-radius: 8px;
            padding: 12px 18px;
            background: linear-gradient(265.17deg, #c54fc2 0.08%, #8355cb 49.22%, #415bd3 98.36%);
            line-height: 1;
            color: #fff;
            text-decoration: none;
        }

        #agentic a:hover {
            background: #c54fc2;
        }

    .resources li {
        margin: 0;
        padding: 0;
    }

    .resources a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 9px;
        margin: 8px 0;
        padding: 12px 24px;
        background: #6a72820d;
        color: inherit;
        text-decoration: none;
    }

    .resources a:hover {
        background: #6a72821f;
    }
</style>
