<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <script src="@Assets["_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"]" defer></script>
    <link rel="stylesheet" href="@Assets["_content/Telerik.UI.for.Blazor/css/kendo-theme-fluent/all.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["SignalIntelligenceWorkspace.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body class="k-body">
    <Routes @rendermode="@InteractiveServer" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]" autostart="false"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            Blazor.start();
        });
    </script>
</body>

</html>
